<main>
    <section class="container grid">
        <!-- <div class="title">
            <h1>PRODUCTOS</h1>
        </div> -->

        <div">
            <a href="#crearproductos" class="menu__link">Nuevo Producto</a>
        </div>
        <div class="tabla">
            <h2 class="title">Listado de usuarios</h2>
            <table id="tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Categoria_id</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                  <td>Nombre</td>
                  <td>Apellidos</td>
                  <td>Teléfono</td>
                  <td>Correo</td>
                  <td>Documento</td>
                  <td>
                    <div class="botonera">
                      <button class="btn btn--samall">Editar</button>
                      <button class="btn btn--samall btn--danger">Eliminar</button>
                    </div>
                  </td>
                </tr> -->
                </tbody>
            </table>
        </div>
    </section>
</main>